@model RealStateApp.Core.Application.ViewModels.SaleTypes.SaveSaleTypeViewModel
@{
    bool isedit = true;
    if (Model.Id == 0)
    {
        isedit = false;
        ViewData["Title"] = "Crear tipo de venta";

    }
    else
    {
        isedit = true;
        ViewData["Title"] = "Editar tipo de venta";

    }

}
<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-black text-light">
                    <h4>@(isedit ? $"Editando el tipo de venta: {Model.Name}" : "Creando nuevo tipo de venta")</h4>

                </div>
                <div class="card-body">
                    <form method="post" asp-controller="SaleType" asp-action="@(isedit ? "Update" : "Create")">
                        @if (Model.HasError)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <p>@Model.Error</p>
                                <buttom type="buttom" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </buttom>
                            </div>
                        }

                        <div class="mb-2">
                            <label asp-for="Name" class="form-label">Nombre: </label>
                            <input asp-for="Name" type="text" class="form-control" placeholder="Ingrese el nombre del tipo de venta" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-2">
                            <label asp-for="Description" class="form-label">Descripcion: </label>
                            <input asp-for="Description" type="text" class="form-control" placeholder="Ingrese la descripcion del tipo de venta" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="Id" />

                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <a asp-controller="AdminHome" asp-action="SaleTypes" class="btn btn-warning">Volver</a>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>
</div>

