@model RealStateApp.Core.Application.ViewModels.Users.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-black text-light">
                    <h4>Iniciar Sesion</h4>

                </div>
                <div class="card-body">
                    <form method="post" asp-controller="User" asp-action="Index">

                        @* @if (!string.IsNullOrWhiteSpace(ViewBag.Mensaje))
                        {
                            <div class="alert alert-info" role="alert">
                                <p>@ViewBag.Mensaje</p>
                            </div>

                        }

                        @if (!ViewData.ModelState.IsValid)
                        {
                            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
                        } *@

                        @if (Model.HasError)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <p>@Model.Error</p>
                                <buttom type="buttom" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </buttom>
                            </div>
                        }

                        <div class="mb-2">
                            <label asp-for="Username" class="form-label">Nombre de usuario: </label>
                            <input asp-for="Username" class="form-control" placeholder="Ingrese el nombre de usuario" />

                        </div>

                        <div class="mb-2">
                            <label asp-for="Password" class="form-label">Contraseña: </label>
                            <input asp-for="Password" class="form-control" placeholder="Ingrese la contraseña" />

                        </div>


                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary">Iniciar Sesion</button>

                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>


</div>


